aniso8601==7.0.0
appdirs==1.4.4
attrs==20.3.0
CacheControl==0.12.6
cached-property==1.5.2
cachetools==4.2.1
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
config==0.5.0.post0
defusedxml==0.7.1
firebase-admin==4.5.2
Flask==0.12.3
Flask-Enterprise==1.0
Flask-Ext==0.1
Flask-Spyne==0.1
google-api-core==1.26.1
google-api-python-client==2.0.2
google-auth==1.28.0
google-auth-httplib2==0.1.0
google-cloud-core==1.6.0
google-cloud-firestore==2.0.2
google-cloud-storage==1.36.2
google-crc32c==1.1.2
google-resumable-media==1.2.0
googleapis-common-protos==1.53.0
graphene==2.1.8
graphql-core==2.3.2
graphql-relay==2.0.1
grpcio==1.36.1
gunicorn==20.0.4
httplib2==0.19.0
idna==2.10
isodate==0.6.0
itsdangerous==1.1.0
Jinja2==2.11.3
lxml==4.6.2
MarkupSafe==1.1.1
msgpack==1.0.2
packaging==20.9
promise==2.3
proto-plus==1.18.0
protobuf==3.15.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pyparsing==2.4.7
pytz==2013b0
requests==2.25.1
requests-file==1.5.1
requests-toolbelt==0.9.1
rsa==4.7.2
Rx==1.6.1
six==1.15.0
soaplib==2.0.0b2
spyne==2.13.16
suds==0.3.5
uritemplate==3.0.1
urllib3==1.26.4
Werkzeug==1.0.1
zeep==4.0.0
