html, body {
 margin: 0;
 padding: 10px;
 }
body {
 background-color: white;
 font-family: Verdana, sans-serif;
 font-size: 100%;
 }
h1 {
 font-size: 250%;
 text-align: center;
 }
h2 {
 font-size: 200%;
 color: navy;
 }
h4 {
 margin: 0;
 width: fit-content;
}
p,ul,li,td {
 color: black;
 }
a:link {
 color: green;
 text-decoration: underline;
 }
a:visited {
 color: gray;
 }
a:hover {
 color: red;
 text-decoration: none;
}
a:active, a:focus {
 color: red;
}
.upMenu {
 display: inline;
}
form.cardRegistration{
 border: solid navy;
 padding: 10px;
 width: 1010px;
}

form.connection{
 border: solid navy;
 padding: 10px;
 width: 205px;
}

form.registration{
 border: solid navy;
 padding: 10px;
 width: 500px;
}

form.product{
 border: solid navy;
 padding: 10px;
 width: 500px;
}

.container {
  width: 200px;
  clear: both;
}

.container input {
  width: 100%;
  clear: both;
}

button {
  background-color: green;
  border: none;
  color: white;
  padding: 15px 32px;
  margin: 10px 0;
  width: 100%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

button.alone{
   width: 300px;
}

.error{
 color: red;
}

.product{
 display: inline-grid;
}

img{
 max-width: 300px;
 max-height: 300px;
}