<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Se connecter à My MarketPlace</title>
</head>
<body>
    <h1> Connexion </h1>
    <form action="/login/" method="post">
        <hr>
        {% if error %}
            <p>Identifiant ou mot de passe incorrect</p>
        {% endif %}
        <label for="username">
            <b>Identifiant</b>
            <input type="text" id="username" name="username" required>
        </label>

        <label for="password">
            <b>Mot de passe</b>
            <input type="password" id="password" name="password" required>
        </label>
        <hr>

        <button type="submit">Se connecter</button>
    </form>
    <p>Pas encore de compte ? <a href="/registration/">Créez-en un.</a></p>
</body>
</html>