{% extends 'base.html' %}
{% block content %}
    <h2> Acheter {{ product['entitle'] }} </h2>

    {% include 'productDisplay.html' %}

    <p>Le produit coûte {{ product['price'] }}€.</p>

    {% if isUserConnected %}
        <p>Le produit pèse {{ product['weight'] }}kg, et doit parcourir une distance de {{ distance }}km pour vous
            être livré, les frais de livraisons s'élèvent à {{ deliveryCost }}€.</p>

        <form action="/cardRegistration/" method="post" class="buyProduct">
            <input type="hidden" id="totalPrice" name="totalPrice" value={{ totalPrice }}>
            <input type="hidden" id="sellerWalletId" name="sellerWalletId" value={{ sellerWalletId }}>
            <button type="submit" class="alone">Payer les {{ "{:.2f}".format(totalPrice) }}</button>
        </form>
    {% else %}
        <p> Vous n'êtes pas connecté. Veuillez <a href="/connection/">vous connecter</a> pour connaître les frais de livraison,
            et passer commande. </p>
        <p> Si vous vous êtes déjà connecté, autorisez les cookies dans votre navigateur et <a href="/connection/">reconnectez-vous.</a> </p>
    {% endif %}
{% endblock %}